@import url(https://fonts.googleapis.com/css?family=Arvo:400,700,400italic);

body {
	background: url('../images/fabric_plaid.png') repeat;
	margin:100px 0;
}

.top {
	background: url('../images/robots.png') repeat;
	width:800px;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:200;
	color:white;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	padding: 34px 25px 22px 50px;
	margin: 30px 25px 0 0;
}

.top p {
	font-size:14px;
}

.top em {
	font-size:18px;
}

.top a {
	-webkit-font-smoothing: antialiased;
	text-shadow: rgba(0, 0, 0, 0.4) 0 -1px 0;
	font-size:14px;
}

a:hover {color:#950119;}
a:active {color:#AF0011;}
a:link {color:#AF0011;}
a:visited {color:#AF0011;}

h1, h2, h3 {
	font-family: Arvo, serif;
  	line-height:1.3;
	font-weight:normal;
}

h3 {
	display: block;
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
	font-size:18px;
}

.container {
	font-size: 14px;
	margin: 0 auto;
	width: 960px;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.8em;
	padding:10px 50px 0 0;
	-webkit-font-smoothing: antialiased;
}

a.button {
	padding: 3px 10px;
	margin-right:5px;
	color: #fff;
	text-decoration: none;
	background: #AF0011;
	background: -moz-linear-gradient(top, #AF0011 0%, #820011 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#dddddd));
	background: -webkit-linear-gradient(top, #AF0011 0%,#820011 100%);
	background: -o-linear-gradient(top, #AF0011 0%,#820011 100%);
	background: -ms-linear-gradient(top, #AF0011 0%,#820011 100%);
	background: linear-gradient(top, #AF0011 0%,#820011 100%);

	border-radius:4px;
	border:1px solid #0D0D0D;

	-webkit-box-shadow: inset 0px 1px 1px 0 rgba(233,2,38, 1);
	box-shadow: inset 0px 1px 1px 0 rgba(233,2,38, 1);

}

a.button:hover {
	background: #C3001D;
	background: -moz-linear-gradient(top, #C3001D 0%, #950119 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#dddddd));
	background: -webkit-linear-gradient(top, #C3001D 0%,#950119 100%);
	background: -o-linear-gradient(top, #C3001D 0%,#950119 100%);
	background: -ms-linear-gradient(top, #C3001D 0%,#950119 100%);
	background: linear-gradient(top, #C3001D 0%,#950119 100%);
}

